---
import { ViewTransitions } from 'astro:transitions'
import type { CollectionEntry } from 'astro:content'
import { Icon } from 'astro-icon'
import { format } from 'date-fns'
import MetaData from '@/components/Notes/NoteDetailComponents/MetaData.astro'
import { DEFAULT_DATE_FORMAT } from '@/utils/constants'
import Layout from './Layout.astro'
import { getViewTransitionName } from '@/lib/notes'

type Props = CollectionEntry<'notes'>['data']

const data = Astro.props
---

<Layout title={data.title}>
  <ViewTransitions slot="head" />
  <div class="grid place-items-start gap-2">
    <h1
      class="text-3xl font-medium"
      style={`view-transition-name:${getViewTransitionName(data.title)}`}
    >
      {data.title}
    </h1>
    {data.description ? <p class="md:max-w-[80%]">{data.description}</p> : null}
  </div>

  <div class="flex gap-6">
    <MetaData>
      <Icon name="tag" slot="icon" />

      <ul class="flex items-center">
        <!-- TODO filter notes by tag link -->
        {
          data.tags.map((tag) => (
            <li class="tag">
              <a href="/notes" class="hover:underline">
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </MetaData>

    <MetaData>
      <Icon name="clock" slot="icon" />
      <span>{format(data.publishedAt, DEFAULT_DATE_FORMAT)}</span>
    </MetaData>
  </div>

  <hr class="my-8 w-full border-t-2 border-t-grayA4" />

  <article>
    <slot />
  </article>
</Layout>

<style lang="css">
  [astro-icon] {
    width: 1rem;
    height: 1rem;
  }

  :global([astro-icon] path) {
    @apply fill-gray11;
  }

  .tag {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .tag:not(:last-of-type)::after {
    content: '·';
    margin-inline: 0.25rem;
  }

  :global(article > :where(:not(:last-child))) {
    margin-bottom: 1rem;
  }
</style>
